@using ClientWebApp.Models
@using ClientWebApp.Controllers
@model ClientWebApp.Models.FileCreateModel

@{
    ViewBag.Title = "Upload File";
}

<h2>Create File</h2>

@Html.ValidationSummary(false)
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" } ))
{
    <input type="hidden" name="AuthorId" value="@ViewBag.AuthorId" />
    @*<div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>*@
    <div class="form-group">
        @Html.LabelFor(x => x.File)
        @Html.TextBoxFor(x => x.File, new { type = "file" })
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
}